.app{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

/* MEDIA QUERIES (MEDIUM DEVICES) */

@media screen and (max-width: 1024px){
    
    
    
}

/* MEDIA QUERIES (SMALL DEVICES) */

@media screen and (max-width: 600px){
    


    
    
}

