ul{
    font-size: 15px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 50px;
    color: rgb(226, 226, 226);
    object-fit: contain;
}

ul > li {
    margin-top: 5px;
}

li:first-of-type{
    margin-top: 10px;
    
}

.footer{
    background-color: #2c3a4d;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}



.footer_container{
    display: flex;
    flex-direction: column;
    
}

.footer_list{
    object-fit: contain;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
}

.footer_line{
    display: flex;
    border-top:1px solid #131921;
    width: 190vh;

}

.footer_trademark{
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    display: flex;
    justify-content: center;
}

